<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <title>My Chart.js Chart</title>
</head>
<body>
  <div class="container">
    <canvas id="myChart"></canvas>
  </div>

  <script>
    $(function () {

      let myChart = document.getElementById('myChart').getContext('2d');

      let json_url = "temp/100";
      
      // Global Options
      Chart.defaults.global.defaultFontFamily = 'Lato';
      Chart.defaults.global.defaultFontSize = 18;
      Chart.defaults.global.defaultFontColor = '#777';

      let lineChart = new Chart(myChart, {
          type: 'line',
          data: {
            labels: [],
            datasets: [
              { label: 't1', data: [] },
              { label: 't2', data: [] },
              { label: 't3', data: [] }
            ]	
          }
        });	    
            
      ajax_chart(lineChart, json_url);

      // function to update our chart
      function ajax_chart(chart, url, data) {
          var data = data || {};

          $.getJSON(url, data).done(function(response) {
            for (const t of response) {
              chart.data.labels.push(t.zeit);
              chart.data.datasets[0].data.push(t.t1);
              chart.data.datasets[1].data.push(t.t2);
              chart.data.datasets[2].data.push(t.t3);
            }
            chart.update(); // finally update our chart
          });
      }
  });
  </script>
</body>
</html>
